* {
    box-sizing: border-box;
}

body, html {
    background-color: rgb(41, 41, 41);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Arial Narrow", sans-serif;
    color: white;
}

.container {
    width: 360px;
    margin: 0 auto 0 auto;
}

h1 {
    text-align: center;
    border: 1px solid white;
    border-radius: 20px;
    padding: 20px;
    width: 90%;
    margin: 20px auto;
}

.dayCard {
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    background-color: rgb(105, 105, 105);
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 5px 10px 4px -1px rgba(0, 0, 0, 0.34);
}

.dayCard img {
    border: 1px solid white;
    border-radius: 50%;
    background-color: rgb(75, 75, 211);
    float: right;
    width: 30%;
}

.dayCard p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.dayCard h2, .dayCard h3 {
    margin: 5px;
    margin-bottom: 5px;
}